button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    transition: all 1.2s ease;
    height: 3rem;
    width: 7rem;
    border: solid black 2px;
    border-radius: 20px;
}

button:hover{
    background-color: green;
    transform: scale(1.1);
    cursor: pointer;
}
