*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(100, 255, 218);
}

body{
    background-image: url(img/Por-que-as-integracoes-na-tecnologia-sao-cruciais.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

header{
    display: flex;
    background-color: rgb(10, 25, 47);
    align-items: center;
    height: 15vh;
}
h1{
    align-items: center;
    margin-left: 2rem;
    font-size: 2.5rem;
}

nav{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
a{
    text-decoration: none;
    padding: 3rem;
    font-size: 1.15rem;
    transition: all 0.5s ease;
}
a:hover{
    transform: scale(1.3);
}

/* Meio */
.meio{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

section{
    width: 60vw;
    height: 30vh;
    border: solid 2px black;
    border-radius: 20px;
    background-color: rgb(10, 25, 47);
    transition: all 1s ease;
    box-shadow: 10px 10px 20px rgb(100, 255, 218);
}

section:hover{
    transform: scale(1.02);
}

.card{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 25vh;
}

#pmeio{
    width: 50%;
    text-align: center;
}

.but{
    display: flex;
    justify-content: center;
}

button{
    background-color: black;
    width: 6rem;
    height: 1.5rem;
    border: solid 2px black;
    border-radius: 10px;
    transition: all 1s ease;
}

button:hover{
    transform: scale(1.2);
    background-color: rgb(25, 112, 25);
    color: antiquewhite;
    cursor: pointer;
}

footer{
    margin-top: 5rem;
    text-align: center;
    background-color: rgb(10, 25, 47);
}
