*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 20vw;
    background-color: black;
    opacity: 0.2;
    color: aliceblue;
}
